.dropdownButton {
  color: white;
  background: #be202000;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.dropdownButton:hover {
  color: rgb(71, 133, 255);
}

.dropdownButton:hover .iconPath {
  stroke: rgb(71, 133, 255);
}

.icon.rotated {
  transform: rotate(180deg);
}

.icon {
  transition: transform 0.3s ease;
  margin-left: 8px;
}

.active {
  color: rgb(71, 133, 255);
}

.active .iconPath {
  stroke: rgb(71, 133, 255);
}

.dropdownMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  background: rgba(34, 43, 68, 1);
  z-index: 1;
  border-radius: 17px;
  border: 1px solid rgba(49, 62, 98, 1);
  margin-top: 20px;
  width: 700px;
  height: 224px;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transform: scale(0) translate(-0%, -0%);
  transform-origin: top left;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.dropdownMenu.open {
  opacity: 1;
  transform: scale(1) translate(0, 0);
}

.dropdownMenuOne {
  width: 310px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s ease;
  box-sizing: border-box;
}

.dropdownMenuOne:hover {
  background-color: rgba(49, 62, 98, 1);
  transition: 0.3s ease;
}

.text {
  width: 238px;
}

.font600 {
  font-weight: 600;
  font-size: 16px;
  display: block;
}

.font400 {
  font-weight: 400;
  font-size: 12px;
  display: block;
}

@media (max-width: 1024px) {
  .open{
    position: relative;
    width: 100%;
    margin: 10px 0px;

  }
  .dropdownMenu{
    border-radius: 0px;
    padding: 10px;
    transition: 0s;
  }
  .dropdownMenuOne{
    width: 344px;
  }
}